openapi: 3.0.2
info:
  description: |-
    At Pulze it's our mission to supercharge today's workforce with AI to maximize the world's prosperity. We are doing so by enabling companies of any size to securely leverage Large Language Models (LLM) and easily build AI features into their apps. Our enterprise platform has access to all best in class LLMs and can route user requests to the most relevant model to get the highest quality response at the best price thanks to our smart meta model. End users can leverage pre-built applications, such as our Marketing AI product, or build custom apps on top of the Pulze Platform.

    We are a VC Funded, early stage startup based in San Francisco.
  title: Pulze.ai API
  version: 0.1.0
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.pulze.ai
tags:
- name: models
- name: logs
- name: apps
- name: chat
- name: completions
paths:
  /v1/chat/completions:
    post:
      description: Perform a Chat Completion request.
      operationId: Chat_performCompletionRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequestPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PulzeEngineResponseChatCompletion'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Chat Completions
      tags:
      - chat
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-chat-completions
      x-content-type: application/json
      x-accepts: application/json
  /v1/completions:
    post:
      description: Perform a text Completion request.
      operationId: Completions_performTextRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequestPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PulzeEngineResponseCompletion'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Completions
      tags:
      - completions
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-completions
      x-content-type: application/json
      x-accepts: application/json
  /v1/models/rank:
    post:
      operationId: Models_getRankOfBest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequestPayload'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PulzeEngineModelRanking'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Get Rank Of Best Models For Payload
      tags:
      - models
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-models-rank
      x-content-type: application/json
      x-accepts: application/json
  /v1/logs/{log_id}:
    get:
      description: |-
        Get a specific log by id. If accessing via API Key, this endpoint will only return a log if it belongs to that App.
        If the log's App is disabled, this endpoint won't return it.
      operationId: Logs_getById
      parameters:
      - explode: false
        in: path
        name: log_id
        required: true
        schema:
          format: uuid
          title: Log Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request_Normalized'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Get Log By Id
      tags:
      - logs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-logs-log_id
      x-accepts: application/json
  /v1/logs/{log_id}/rating:
    post:
      description: |-
        Rate a specific request by its ID. When accessing it via an App's API Key, this endpoint will only allow
        rating a log of that specific app.
      operationId: Logs_rateById
      parameters:
      - explode: false
        in: path
        name: log_id
        required: true
        schema:
          format: uuid
          title: Log Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogResponseRatingRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request_Normalized'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Rate Log By Id
      tags:
      - logs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-logs-log_id-rating
      x-content-type: application/json
      x-accepts: application/json
  /v1/apps/self:
    get:
      description: Retrieves the App for the given API key.
      operationId: Apps_getAppForApiKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppWithModelUpdatesInfo'
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get App For Api Key
      tags:
      - apps
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-apps-self
      x-accepts: application/json
  /v1/apps/update:
    put:
      description: "Update an App's properties: description, weights and policies."
      operationId: Apps_updateProperties
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppWithModelUpdatesInfo'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Update App And Models
      tags:
      - apps
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-apps-update
      x-content-type: application/json
      x-accepts: application/json
  /v1/models/active:
    get:
      description: Get a list of the Models which are active for a specific App.
      operationId: Models_listActiveModels
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsListActiveModelsResponse'
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get Active Models For App
      tags:
      - models
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-models-active
      x-accepts: application/json
  /v1/models/all:
    get:
      description: Get a list of all the Models which this App can potentially use.
      operationId: Models_getAllModels
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsGetAllModelsResponse'
          description: Successful Response
      security:
      - HTTPBearer: []
      summary: Get All Available Models For App
      tags:
      - models
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-models-all
      x-accepts: application/json
  /v1/models/{model_id}/toggle:
    put:
      description: Enable or disable a model.
      operationId: Models_toggleModelForApp
      parameters:
      - explode: false
        in: path
        name: model_id
        required: true
        schema:
          format: uuid
          title: Model Id
          type: string
        style: simple
      - explode: true
        in: query
        name: enable
        required: false
        schema:
          default: true
          example: true
          title: Enable
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-models-model_id-toggle-put-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PulzeToggleModelResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Toggle Model For App
      tags:
      - models
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-models-model_id-toggle
      x-accepts: application/json
  /v1/logs:
    post:
      description: |-
        Get the list of logs that match the specified filters. When accessing via an App's API Key, only logs for that
        app will be returned.
      operationId: Logs_getMatchingLogs
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          title: Page
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-logs-post-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          example: 50
          maximum: 100
          minimum: 1
          title: Size
          type: integer
          x-konfig-original-example: 50
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-logs-post-parameters-1-schema
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterLogsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsGetMatchingLogsResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      security:
      - HTTPBearer: []
      summary: Get Logs For App
      tags:
      - logs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-logs
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    AcceptInviteRequest:
      properties:
        accept:
          default: "1"
          description: Whether user accepts(1) or declines(0) invitation
          enum:
          - "0"
          - "1"
          example: "1"
          title: Accept
          type: string
          x-konfig-original-example: "1"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AcceptInviteRequest-properties-accept
        email:
          title: Email
          type: string
        token:
          title: Token
          type: string
      required:
      - email
      - token
      title: AcceptInviteRequest
      type: object
    App:
      example:
        modified_on: 2000-01-23T04:56:07.000+00:00
        settings: "{}"
        is_active: true
        rate_limit: 200
        policies:
          max_same_model_retries: 1
          max_cost: 0.02
          privacy_level: 1
          optimize_internal_requests: 0
          max_switch_model_retries: 1
          prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: description
        weights:
          cost: 0.4
          latency: 0.4
          quality: 0.4
        key_end: key_end
        org_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        hashed_key: hashed_key
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        auth0_id: auth0_id
        prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        added_on: 2000-01-23T04:56:07.000+00:00
      properties:
        description:
          title: Description
          type: string
        added_on:
          format: date-time
          title: Added On
          type: string
        auth0_id:
          title: Auth0 Id
          type: string
        hashed_key:
          title: Hashed Key
          type: string
        id:
          format: uuid
          title: Id
          type: string
        is_active:
          title: Is Active
          type: boolean
        key_end:
          title: Key End
          type: string
        modified_on:
          format: date-time
          title: Modified On
          type: string
        org_id:
          format: uuid
          title: Org Id
          type: string
        policies:
          $ref: '#/components/schemas/LLMModelPolicies'
        prompt_id:
          format: uuid
          title: Prompt Id
          type: string
        rate_limit:
          default: 200
          example: 200
          title: Rate Limit
          type: integer
          x-konfig-original-example: 200
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-App-properties-rate_limit
        settings:
          title: Settings
          type: object
        weights:
          $ref: '#/components/schemas/LLMModelWeights'
      required:
      - auth0_id
      - description
      - hashed_key
      - id
      - is_active
      - key_end
      title: App
      type: object
    AppCreateData:
      properties:
        description:
          title: Description
          type: string
        policies:
          $ref: '#/components/schemas/LLMModelPolicies'
        weights:
          $ref: '#/components/schemas/LLMModelWeights'
      title: AppCreateData
      type: object
    AppCreateResponse:
      properties:
        description:
          title: Description
          type: string
        app_id:
          format: uuid
          title: App Id
          type: string
        created_key:
          title: Created Key
          type: string
        key_end:
          title: Key End
          type: string
      required:
      - app_id
      title: AppCreateResponse
      type: object
    AppCustomData:
      properties:
        added_on:
          description: The timestamp the file was added
          format: date-time
          title: Added On
          type: string
        app_id:
          description: The ID of the App it's associated with
          format: uuid
          title: App Id
          type: string
        data_type:
          description: "The type of custom data (file, database, ...)"
          enum:
          - file
          title: Data Type
          type: string
        file_content:
          description: The contents of the file
          format: binary
          title: File Content
          type: string
        file_mime:
          description: The mimetype of the file
          title: File Mime
          type: string
        file_name:
          description: The name of the file
          title: File Name
          type: string
        file_size:
          description: The size of the file in Bytes
          title: File Size
          type: integer
        id:
          description: The ID
          format: uuid
          title: Id
          type: string
      required:
      - app_id
      - data_type
      - file_mime
      - file_name
      title: AppCustomData
      type: object
    AppDeleteResponse:
      properties:
        id:
          format: uuid
          title: Id
          type: string
      title: AppDeleteResponse
      type: object
    AppUpdate:
      example:
        policies:
          max_same_model_retries: 1
          max_cost: 0.02
          privacy_level: 1
          optimize_internal_requests: 0
          max_switch_model_retries: 1
          prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        description: description
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        weights:
          cost: 0.4
          latency: 0.4
          quality: 0.4
      properties:
        description:
          minLength: 1
          title: Description
          type: string
        id:
          format: uuid
          title: Id
          type: string
        policies:
          $ref: '#/components/schemas/LLMModelPolicies'
        prompt_id:
          description: Prompt ID that we will use for requests
          format: uuid
          title: Prompt Id
          type: string
        weights:
          $ref: '#/components/schemas/LLMModelWeights'
      required:
      - description
      - id
      - policies
      - weights
      title: AppUpdate
      type: object
    AppWithModelUpdatesInfo:
      example:
        app:
          modified_on: 2000-01-23T04:56:07.000+00:00
          settings: "{}"
          is_active: true
          rate_limit: 200
          policies:
            max_same_model_retries: 1
            max_cost: 0.02
            privacy_level: 1
            optimize_internal_requests: 0
            max_switch_model_retries: 1
            prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          description: description
          weights:
            cost: 0.4
            latency: 0.4
            quality: 0.4
          key_end: key_end
          org_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          hashed_key: hashed_key
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          auth0_id: auth0_id
          prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          added_on: 2000-01-23T04:56:07.000+00:00
        model_settings:
          key:
            owner: owner
            at: at
            provider: provider
            namespace: namespace
            description: description
            active: false
            model: model
            until: 2000-01-23T04:56:07.000+00:00
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            context_window: 0
            url: url
        files: []
      properties:
        app:
          $ref: '#/components/schemas/App'
        files:
          default: []
          description: List of files associated with the app.
          example: []
          items:
            $ref: '#/components/schemas/AppCustomData'
          title: Files
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AppWithModelUpdatesInfo-properties-files
        model_settings:
          additionalProperties:
            $ref: '#/components/schemas/PulzeModelActiveForApp'
          title: Model Settings
          type: object
      required:
      - app
      - model_settings
      title: AppWithModelUpdatesInfo
      type: object
      x-konfig-is-used-in-successful-response: true
    Auth0PostRegistrationRequest:
      properties:
        created_at:
          default: ""
          example: ""
          title: Created At
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-created_at
        email:
          title: Email
          type: string
        email_verified:
          default: false
          example: false
          title: Email Verified
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-email_verified
        extra_info:
          title: Extra Info
          type: object
        family_name:
          default: ""
          example: ""
          title: Family Name
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-family_name
        given_name:
          default: ""
          example: ""
          title: Given Name
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-given_name
        name:
          default: ""
          example: ""
          title: Name
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-name
        nickname:
          default: ""
          example: ""
          title: Nickname
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-nickname
        phone_number:
          default: ""
          example: ""
          title: Phone Number
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-phone_number
        phone_verified:
          default: false
          example: false
          title: Phone Verified
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-phone_verified
        picture:
          default: ""
          example: ""
          title: Picture
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Auth0PostRegistrationRequest-properties-picture
        user_id:
          title: User Id
          type: string
      required:
      - email
      - user_id
      title: Auth0PostRegistrationRequest
      type: object
    Auth0PostRegistrationResponse:
      properties:
        created:
          title: Created
          type: boolean
        exists:
          title: Exists
          type: boolean
        updated:
          title: Updated
          type: boolean
      required:
      - created
      - exists
      - updated
      title: Auth0PostRegistrationResponse
      type: object
    BillingAddPayment:
      properties:
        payment_id:
          title: Payment Id
          type: string
        return_url:
          title: Return Url
          type: string
      required:
      - payment_id
      - return_url
      title: BillingAddPayment
      type: object
    BillingAddPaymentResult:
      properties:
        confirm_url:
          title: Confirm Url
          type: string
        result:
          title: Result
          type: string
      required:
      - result
      title: BillingAddPaymentResult
      type: object
    BillingPaymentCoupon:
      properties:
        amount_off:
          title: Amount Off
          type: string
        currency:
          enum:
          - USD
          title: Currency
          type: string
        id:
          title: Id
          type: string
        name:
          title: Name
          type: string
      required:
      - amount_off
      - currency
      - id
      - name
      title: BillingPaymentCoupon
      type: object
    BillingPaymentCreation:
      properties:
        intent_key:
          title: Intent Key
          type: string
        public_key:
          title: Public Key
          type: string
      required:
      - intent_key
      - public_key
      title: BillingPaymentCreation
      type: object
    BillingPaymentInfo:
      properties:
        balance:
          $ref: '#/components/schemas/PaymentDetailsBalance'
        default_card:
          title: Default Card
          type: string
        discount:
          $ref: '#/components/schemas/BillingPaymentCoupon'
        payments:
          items: {}
          title: Payments
          type: array
        subscriptions:
          items:
            $ref: '#/components/schemas/BillingSubscription'
          title: Subscriptions
          type: array
      required:
      - balance
      - payments
      - subscriptions
      title: BillingPaymentInfo
      type: object
    BillingSubscription:
      properties:
        description:
          title: Description
          type: string
        amount:
          title: Amount
          type: number
        currency:
          title: Currency
          type: string
        current_period_end:
          title: Current Period End
          type: integer
        current_period_start:
          title: Current Period Start
          type: integer
        latest_invoice:
          title: Latest Invoice
          type: string
        product:
          title: Product
          type: string
        quantity:
          title: Quantity
          type: integer
        start_date:
          title: Start Date
          type: integer
      required:
      - amount
      - currency
      - current_period_end
      - current_period_start
      - description
      - latest_invoice
      - product
      - quantity
      - start_date
      title: BillingSubscription
      type: object
    BillingTopUp:
      properties:
        amount:
          description: "Amount of the currency to top up: $3.00, €4.22, ..., as a\
            \ float"
          title: Amount
          type: number
        currency:
          enum:
          - USD
          title: Currency
          type: string
        payment_id:
          description: The (stripe) ID of the customer's payment method. Optional
            for now
          title: Payment Id
          type: string
        return_url:
          title: Return Url
          type: string
      required:
      - amount
      - currency
      - return_url
      title: BillingTopUp
      type: object
    BillingTransactionItem:
      properties:
        description:
          title: Description
          type: string
        amount: {}
        balance: {}
        created: {}
        currency:
          enum:
          - USD
          title: Currency
          type: string
        id:
          title: Id
          type: string
        invoice_status:
          title: Invoice Status
          type: string
        link:
          title: Link
          type: string
        link_pdf:
          title: Link Pdf
          type: string
        metadata:
          title: Metadata
          type: object
        type:
          title: Type
          type: string
      required:
      - amount
      - created
      - currency
      - id
      - type
      title: BillingTransactionItem
      type: object
    BillingTransactions:
      properties:
        data:
          default: []
          description: The list of Transaction items
          example: []
          items:
            $ref: '#/components/schemas/BillingTransactionItem'
          title: Data
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-BillingTransactions-properties-data
      title: BillingTransactions
      type: object
    Body_app_upload_custom_data_v1_apps_custom_data__app_id__post:
      properties:
        files:
          items:
            format: binary
            type: string
          title: Files
          type: array
      required:
      - files
      title: Body_app_upload_custom_data_v1_apps_custom_data__app_id__post
      type: object
    CompletionRequestPayload:
      example:
        logit_bias: "{}"
        max_tokens: 6
        presence_penalty: 0
        "false": 1
        suffix: ""
        tools:
        - function:
            name: name
            description: description
            parameters:
              type: object
              properties:
                key: "{}"
              required:
              - required
              - required
          type: function
        - function:
            name: name
            description: description
            parameters:
              type: object
              properties:
                key: "{}"
              required:
              - required
              - required
          type: function
        logprobs: 0
        top_p: 1
        frequency_penalty: 0
        best_of: 1
        stop: ""
        stream: false
        temperature: 1
        messages: []
        tool_choice: ""
        model: pulze
        prompt: ""
      properties:
        best_of:
          default: 1
          description: "The number of responses to _generate_. Out of those, it will\
            \ return the best `n`."
          example: 1
          title: Best Of
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-best_of
        "false":
          default: 1
          description: |
            How many completions to generate for each prompt.
            @default 1
          example: 1
          minimum: 1
          title: "false"
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-false
        frequency_penalty:
          default: 0
          description: |
            https://platform.openai.com/docs/api-reference/completions/create#completions/create-frequency_penalty
            Increase the model's likelihood to not repeat tokens/words
          example: 0
          maximum: 2
          title: Frequency Penalty
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-frequency_penalty
        logit_bias:
          description: |
            COMING SOON
            https://platform.openai.com/docs/api-reference/completions/create#completions/create-logit_bias
            Modify the likelihood of specified tokens appearing in the completion.

            See here for a detailed explanation on how to use:
            https://help.openai.com/en/articles/5247780-using-logit-bias-to-define-token-probability
          title: Logit Bias
          type: object
        logprobs:
          description: |
            COMING SOON
            https://platform.openai.com/docs/api-reference/completions/create#completions/create-logprobs
            Include the log probabilities on the logprobs most likely tokens, as well the chosen tokens.
          maximum: 5
          title: Logprobs
          type: integer
        max_tokens:
          description: The maximum number of tokens that the response can contain.
          title: Max Tokens
          type: integer
        messages:
          default: []
          description: The conversation sent (with or without history) (for a /chat/completions
            request)
          example: []
          items:
            $ref: '#/components/schemas/RoleContentChatChoice'
          title: Messages
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-messages
        model:
          default: pulze
          description: |
            https://docs.pulze.ai/overview/models
            Specify the model you'd like Pulze to use. (optional). Can be the full model name, or a subset for multi-matching.

            Defaults to our dynamic routing, i.e. best model for this request.
          example: pulze
          title: Model
          type: string
          x-konfig-original-example: pulze
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-model
        presence_penalty:
          default: 0
          description: |
            https://platform.openai.com/docs/api-reference/completions/create#completions/create-presence_penalty
            Increase the model's likelihood to talk about new topics
          example: 0
          maximum: 2
          title: Presence Penalty
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-presence_penalty
        prompt: {}
        stop: {}
        stream:
          default: false
          description: |
            ** COMING SOON **
            Specify if you want the response to be streamed or to be returned as a standard HTTP request
          example: false
          title: Stream
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-stream
        suffix:
          default: ""
          description: COMING SOON
          example: ""
          title: Suffix
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-suffix
        temperature:
          default: 1
          description: Optionally specify the temperature for this request only. Leave
            empty to allow Pulze to guess it for you.
          example: 1
          maximum: 1
          title: Temperature
          type: number
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-temperature
        tool_choice: {}
        tools:
          items:
            $ref: '#/components/schemas/ToolFunction'
          title: Tools
          type: array
        top_p:
          default: 1
          description: |
            https://platform.openai.com/docs/api-reference/completions/create#completions/create-top_p
            An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass
          example: 1
          title: Top P
          type: number
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-CompletionRequestPayload-properties-top_p
      title: CompletionRequestPayload
      type: object
    ConversationShare:
      properties:
        title:
          description: A title for this conversation
          title: Title
          type: string
        auth0_id:
          description: The Auth0-ID of the user that shared this. Could be used by
            a user to share a conversation between their different organizations (as
            long as they open it themselves)
          title: Auth0 Id
          type: string
        continuation_of:
          description: Will be used for analytics. We can know from which conversation
            this was shared.
          title: Continuation Of
          type: string
        hashed_ids:
          description: "To avoid creating duplicated shared links, we use this value\
            \ as a quick way to verify that we are receiving new IDs"
          title: Hashed Ids
          type: string
        is_public:
          default: true
          description: Whether the conversation is shared publicly or only members
            of your organization
          example: true
          title: Is Public
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConversationShare-properties-is_public
        org_id:
          description: "The organization that shared this. Important, as it can be\
            \ used to filter users belonging to different organizations"
          format: uuid
          title: Org Id
          type: string
        share_hash:
          description: The HASH that was shared. Used to fetch all the conversation
            items
          title: Share Hash
          type: string
        shared_on:
          description: "Some extra information, like when was the conversation shared"
          format: date-time
          title: Shared On
          type: string
      required:
      - share_hash
      - shared_on
      - title
      title: ConversationShare
      type: object
    ConversationShareRequest:
      properties:
        continuation_of:
          description: If this playground was started from another existing conversation.
          title: Continuation Of
          type: string
        ids:
          description: A list (of list) of Request IDs of all the messages that need
            to be shared in the playground.
          items:
            items:
              format: uuid
              type: string
            type: array
          title: Ids
          type: array
        is_public:
          default: true
          description: "Set to True/False if you want it available for anyone with\
            \ the link, or only members within the organization"
          example: true
          title: Is Public
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConversationShareRequest-properties-is_public
      required:
      - ids
      title: ConversationShareRequest
      type: object
    ConversationSharedData:
      properties:
        data:
          $ref: '#/components/schemas/ConversationShare'
        messages:
          items:
            items:
              $ref: '#/components/schemas/Request'
            type: array
          title: Messages
          type: array
      required:
      - data
      - messages
      title: ConversationSharedData
      type: object
    DashboardGraphData:
      properties:
        color:
          title: Color
          type: string
        cumulative:
          title: Cumulative
          type: boolean
        data:
          items:
            $ref: '#/components/schemas/StatsPopulatedGraphResult'
          title: Data
          type: array
        id:
          title: Id
          type: string
        interval:
          title: Interval
          type: string
        label:
          title: Label
          type: string
        large:
          default: false
          example: false
          title: Large
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-DashboardGraphData-properties-large
        max:
          title: Max
          type: number
        name:
          title: Name
          type: string
        total:
          title: Total
          type: number
      required:
      - color
      - data
      - id
      - interval
      - label
      - max
      - name
      - total
      title: DashboardGraphData
      type: object
    FeaturesForSubscriptionDescriptions:
      description: |-
        See FeaturesForSubscription for more info!
        This class is a duplicate so if anything gets renamed on the parent class, this one will error.
      properties:
        customer_success:
          title: Customer Success
          type: string
        fine_tuning:
          title: Fine Tuning
          type: string
        flowz:
          title: Flowz
          type: string
        llm_routing:
          title: Llm Routing
          type: string
        max_apps_readable:
          title: Max Apps Readable
          type: string
        max_tokens_readable:
          title: Max Tokens Readable
          type: string
        personalized_llm_routing:
          title: Personalized Llm Routing
          type: string
        prompt_models:
          title: Prompt Models
          type: string
        prompts:
          title: Prompts
          type: string
        support_level_readable:
          title: Support Level Readable
          type: string
      required:
      - customer_success
      - fine_tuning
      - flowz
      - llm_routing
      - max_apps_readable
      - max_tokens_readable
      - personalized_llm_routing
      - prompt_models
      - prompts
      - support_level_readable
      title: FeaturesForSubscriptionDescriptions
      type: object
    FilterLogsRequest:
      example:
        query: ""
        app_ids: []
        date_to: 2000-01-23T04:56:07.000+00:00
        params: []
        date_from: 2000-01-23T04:56:07.000+00:00
        labels:
          key: labels
      properties:
        app_ids:
          default: []
          description: The list of API Keys we want to filter for. Leave the list
            empty to disable filtering (and return data for all apps) instead.
          example: []
          items:
            format: uuid
            type: string
          title: App Ids
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-FilterLogsRequest-properties-app_ids
        date_from:
          description: The earliest date we are searching for.
          format: date-time
          title: Date From
          type: string
        date_to:
          description: The latest date we are searching for.
          format: date-time
          title: Date To
          type: string
        labels:
          additionalProperties:
            type: string
          description: Only logs (requests) with all of the specified labels will
            be returned. Values get compared between their lowercase forms.
          title: Labels
          type: object
        params:
          default: []
          description: The sorting parameters for the query
          example: []
          items:
            $ref: '#/components/schemas/GetTableSortParams'
          title: Params
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-FilterLogsRequest-properties-params
        query:
          default: ""
          description: Search for logs containing the `query` in their Request or
            Response.
          example: ""
          title: Query
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-FilterLogsRequest-properties-query
      required:
      - date_from
      title: FilterLogsRequest
      type: object
    FilteredSearch:
      properties:
        app_ids:
          default: []
          description: The list of API Keys we want to filter for. Leave the list
            empty to disable filtering (and return data for all apps) instead.
          example: []
          items:
            format: uuid
            type: string
          title: App Ids
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-FilteredSearch-properties-app_ids
        date_from:
          description: The earliest date we are searching for.
          format: date-time
          title: Date From
          type: string
        date_to:
          description: The latest date we are searching for.
          format: date-time
          title: Date To
          type: string
        params:
          default: []
          description: The sorting parameters for the query
          example: []
          items:
            $ref: '#/components/schemas/GetTableSortParams'
          title: Params
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-FilteredSearch-properties-params
      required:
      - date_from
      title: FilteredSearch
      type: object
    FrontendSettings:
      properties:
        balance:
          $ref: '#/components/schemas/PaymentDetailsBalance'
        currency:
          description: The currency of the user. Currently only "USD".
          enum:
          - USD
          title: Currency
          type: string
        did_onboarding_setup:
          description: False when it's the user's first login/signup for an organization
          title: Did Onboarding Setup
          type: boolean
        email_verified:
          description: True if the email was verified
          title: Email Verified
          type: boolean
        privacy_accepted:
          description: Date of last accepted Privacy Policy
          format: date-time
          title: Privacy Accepted
          type: string
        subscription_paused:
          $ref: '#/components/schemas/SubscriptionPaused'
        terms_accepted:
          description: Date of last accepted Terms of Service
          format: date-time
          title: Terms Accepted
          type: string
        user_details:
          $ref: '#/components/schemas/UserDetails'
      required:
      - balance
      - currency
      - did_onboarding_setup
      - email_verified
      - user_details
      title: FrontendSettings
      type: object
      x-konfig-properties:
        balance:
          title: Balance
          description: Balance details
        subscription_paused:
          title: Subscription Paused
          description: Returned to the frontend when the subscription has been paused
            for any reason.
        user_details:
          title: User Details
          description: The basic information for the user
    FrontendSettingsResponse:
      properties:
        orgs:
          description: The list of organizations the user has access to
          items:
            $ref: '#/components/schemas/UserOrgAccess'
          title: Orgs
          type: array
        settings:
          $ref: '#/components/schemas/FrontendSettings'
      required:
      - orgs
      - settings
      title: FrontendSettingsResponse
      type: object
      x-konfig-properties:
        settings:
          title: Settings
          description: Other settings related to the user/org. See `FrontendSettings`
            for more info.
    FunctionCallArguments:
      example:
        name: name
        arguments: arguments
      properties:
        arguments:
          description: A stringified JSON that represents the arguments for the function
          title: Arguments
          type: string
        name:
          description: The name of the function to which the arguments correspond
          title: Name
          type: string
      required:
      - arguments
      - name
      title: FunctionCallArguments
      type: object
    FunctionParameters:
      example:
        type: object
        properties:
          key: "{}"
        required:
        - required
        - required
      properties:
        properties:
          additionalProperties:
            type: object
          description: JSON schema's properties
          title: Properties
          type: object
        required:
          description: List of required parameters
          items:
            type: string
          title: Required
          type: array
        type:
          default: object
          description: "Following JSON schema, this must be 'object'."
          example: object
          title: Type
          type: string
          x-konfig-original-example: object
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-FunctionParameters-properties-type
      required:
      - properties
      title: FunctionParameters
      type: object
    GetTableParams:
      properties:
        params:
          default: []
          description: The sorting parameters for the query
          example: []
          items:
            $ref: '#/components/schemas/GetTableSortParams'
          title: Params
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-GetTableParams-properties-params
      title: GetTableParams
      type: object
    GetTableSortParams:
      properties:
        col:
          title: Col
          type: string
        multiple:
          title: Multiple
          type: boolean
        order:
          enum:
          - asc
          - desc
          title: Order
          type: string
      required:
      - col
      - order
      title: GetTableSortParams
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    InternalCompanyData:
      properties:
        billing_email:
          title: Billing Email
          type: string
        city:
          default: ""
          example: ""
          title: City
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-InternalCompanyData-properties-city
        country:
          default: ""
          example: ""
          title: Country
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-InternalCompanyData-properties-country
        creator:
          title: Creator
          type: string
        email:
          title: Email
          type: string
        hubspot_id:
          title: Hubspot Id
          type: string
        id:
          format: uuid
          title: Id
          type: string
        name:
          title: Name
          type: string
        slug:
          title: Slug
          type: string
      required:
      - billing_email
      - creator
      - email
      - id
      - name
      - slug
      title: InternalCompanyData
      type: object
    InternalUserData:
      properties:
        email:
          title: Email
          type: string
        email_verified:
          title: Email Verified
          type: boolean
        hubspot_id:
          title: Hubspot Id
          type: string
        id:
          description: Auth0 ID
          title: Id
          type: string
        invite_status:
          title: Invite Status
          type: string
        name:
          title: Name
          type: string
        type:
          title: Type
          type: string
      required:
      - email
      - email_verified
      - id
      - invite_status
      - name
      - type
      title: InternalUserData
      type: object
    InvitationInfo:
      properties:
        email:
          description: The email that was invited
          title: Email
          type: string
        token:
          description: The invitation token
          title: Token
          type: string
      required:
      - email
      - token
      title: InvitationInfo
      type: object
    InviteFormEmail:
      properties:
        email:
          title: Email
          type: string
        role:
          title: Role
          type: string
      required:
      - email
      - role
      title: InviteFormEmail
      type: object
    InviteFormRequest:
      properties:
        emails:
          items:
            $ref: '#/components/schemas/InviteFormEmail'
          title: Emails
          type: array
        invite_link:
          title: Invite Link
          type: string
      required:
      - emails
      - invite_link
      title: InviteFormRequest
      type: object
    LLMModelPolicies:
      example:
        max_same_model_retries: 1
        max_cost: 0.02
        privacy_level: 1
        optimize_internal_requests: 0
        max_switch_model_retries: 1
        prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        max_cost:
          default: 0.02
          description: "The maximum cost allowed for a request. Only works with compounded\
            \ requests that require multiple LLM calls. If the value is reached, it\
            \ will exit with an exception."
          example: 0.02
          title: Max Cost
          type: number
          x-konfig-original-example: 0.02
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelPolicies-properties-max_cost
        max_same_model_retries:
          default: 1
          description: "If an LLM call fails, how many times should Pulze _retry the\
            \ call to the same LLM_? There will be a maximum of N+1 calls (original\
            \ + N retries)"
          example: 1
          maximum: 3
          title: Max Same Model Retries
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelPolicies-properties-max_same_model_retries
        max_switch_model_retries:
          default: 1
          description: "If an LLM call fails, _how many other models_ should Pulze\
            \ try, chosen by quality descending? It will be a maximum of N+1 models\
            \ (original + N other models)"
          example: 1
          maximum: 5
          title: Max Switch Model Retries
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelPolicies-properties-max_switch_model_retries
        optimize_internal_requests:
          default: 0
          description: "Optimize the internal / intermediate LLM requests, for a big\
            \ gain in speed and cost savings, at the cost of a potential, and very\
            \ slight, penalty on quality. The final request (\"SYNTHESIZE\") is always\
            \ performed using your original settings."
          enum:
          - 0
          - 1
          example: 0
          title: Optimize Internal Requests
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelPolicies-properties-optimize_internal_requests
        privacy_level:
          default: 1
          description: "\n        The level of privacy for a given request\n     \
            \   0 = (UNSUPPORTED -- public logs)\n        1 = Log request, response\
            \ and all of its metadata (Normal mode)\n        2 = Do not log neither\
            \ the request prompt nor the response text. Logs are still visible, and\
            \ all of the request metadata accessible. Retrievable as a log. (TBD)\n\
            \        3 = Do not log at all. Internally, a minimal representation may\
            \ be stored for billing: model name, tokens used, which app it belongs\
            \ to, and timestamp. Not retrievable as a log. (TBD)\n        "
          enum:
          - 1
          - 2
          - 3
          example: 1
          title: Privacy Level
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelPolicies-properties-privacy_level
        prompt_id:
          description: Prompt ID that we will use for requests
          format: uuid
          title: Prompt Id
          type: string
      title: LLMModelPolicies
      type: object
    LLMModelWeights:
      example:
        cost: 0.4
        latency: 0.4
        quality: 0.4
      properties:
        cost:
          default: 0.4
          description: Prioritizes cost when selecting the most optimized models for
            your use case.
          example: 0.4
          title: Cost
          type: number
          x-konfig-original-example: 0.4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelWeights-properties-cost
        latency:
          default: 0.4
          description: Prioritizes latency and reduces the time delay between submitting
            a request and receiving the response.
          example: 0.4
          title: Latency
          type: number
          x-konfig-original-example: 0.4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelWeights-properties-latency
        quality:
          default: 0.4
          description: Prioritizes the quality and readability of the generated responses.
          example: 0.4
          title: Quality
          type: number
          x-konfig-original-example: 0.4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LLMModelWeights-properties-quality
      title: LLMModelWeights
      type: object
    LogResponseRatingRequest:
      example:
        feedback: ""
        good_answer: true
      properties:
        feedback:
          default: ""
          description: An optional text with accompanies the feedback's rating
          example: ""
          title: Feedback
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-LogResponseRatingRequest-properties-feedback
        good_answer:
          description: "The rating given to this request. It can be good (`True`),\
            \ bad (`False`) or none (`None` == `null`)"
          title: Good Answer
          type: boolean
      title: LogResponseRatingRequest
      type: object
    ModelData:
      properties:
        description:
          description: A description of the model
          title: Description
          type: string
        added_by:
          description: The user (auth0_id) who created the model
          title: Added By
          type: string
        added_on:
          description: When the model was added. Auto-populated in DB
          format: date-time
          title: Added On
          type: string
        app_id:
          description: The app_id that has access to this model (if only one)
          format: uuid
          title: App Id
          type: string
        at:
          description: Extra model settings inferred from namespace
          title: At
          type: string
        base_cost:
          description: "A (usually 0) cost added on top of a request. Some models\
            \ charge per request, not only per token"
          title: Base Cost
          type: number
        completion_token_cost:
          description: "The cost of a completion token, in USD"
          title: Completion Token Cost
          type: number
        context_window:
          description: The max_tokens for this model
          title: Context Window
          type: integer
        default_active:
          description: This determines if the model will be available + pre-selected
            when users create new apps.
          title: Default Active
          type: boolean
        id:
          description: The ID of this model
          format: uuid
          title: Id
          type: string
        is_chat:
          description: "True if the model is of type Chat Completions, False if it's\
            \ a Text Completion model."
          title: Is Chat
          type: boolean
        is_ft:
          description: Whether it's fine-tuned or not
          title: Is Ft
          type: boolean
        is_gdpr:
          description: True if the model complies with GDPR
          title: Is Gdpr
          type: boolean
        is_open_source:
          description: True if the model is open source
          title: Is Open Source
          type: boolean
        is_public:
          description: True if the model is publicly accessible to all
          title: Is Public
          type: boolean
        is_pulze_owner:
          description: Model has been created and shared by Pulze.ai
          title: Is Pulze Owner
          type: boolean
        is_rag:
          description: Whether it's rag-tuned or not
          title: Is Rag
          type: boolean
        model:
          description: The name of the model. Can belong to many providers
          title: Model
          type: string
        modified_on:
          description: When the model was updated. Auto-populated in DB
          format: date-time
          title: Modified On
          type: string
        namespace:
          description: The fully qualified (namespaced) model name
          title: Namespace
          type: string
        org_id:
          description: The org_id that has acccess to this model
          format: uuid
          title: Org Id
          type: string
        owner:
          description: "The owner of the model. Sometimes, for a provider/model combination,\
            \ many instances exist, trained on different data"
          title: Owner
          type: string
        prompt_token_cost:
          description: "The cost of a prompt token, in USD"
          title: Prompt Token Cost
          type: number
        provider:
          description: The provider for the model.
          title: Provider
          type: string
        supports_functions:
          description: True if the model supports `function`/`tool` call
          title: Supports Functions
          type: boolean
        supports_json:
          description: True if the model supports `json`-formatted responses
          title: Supports Json
          type: boolean
        supports_n:
          description: "True if the model supports `n` and `best_of` -- i.e, multiple\
            \ responses"
          title: Supports N
          type: boolean
        supports_penalties:
          description: True if the model supports `frequency_penalty` and `presence_penalty`
          title: Supports Penalties
          type: boolean
        supports_stream:
          description: True if the model supports streaming responses
          title: Supports Stream
          type: boolean
        until:
          description: The most recent data this model has been trained with
          format: date-time
          title: Until
          type: string
        url:
          description: A URL to the model's page or more informatino
          title: Url
          type: string
      required:
      - base_cost
      - completion_token_cost
      - context_window
      - default_active
      - description
      - is_chat
      - is_ft
      - is_gdpr
      - is_open_source
      - is_public
      - is_pulze_owner
      - is_rag
      - model
      - namespace
      - prompt_token_cost
      - supports_functions
      - supports_json
      - supports_n
      - supports_penalties
      - supports_stream
      - url
      title: ModelData
      type: object
    ModelDataCreatePayloadForInternal:
      properties:
        description:
          title: Description
          type: string
        app_id:
          format: uuid
          title: App Id
          type: string
        at:
          title: At
          type: string
        base_cost:
          default: "0"
          example: "0"
          title: Base Cost
          type: string
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataCreatePayloadForInternal-properties-base_cost
        completion_token_cost:
          title: Completion Token Cost
          type: string
        context_window:
          title: Context Window
          type: integer
        default_active:
          title: Default Active
          type: boolean
        is_chat:
          title: Is Chat
          type: boolean
        is_gdpr:
          title: Is Gdpr
          type: boolean
        is_open_source:
          title: Is Open Source
          type: boolean
        is_public:
          title: Is Public
          type: boolean
        model:
          title: Model
          type: string
        org_id:
          format: uuid
          title: Org Id
          type: string
        owner:
          title: Owner
          type: string
        prompt_token_cost:
          title: Prompt Token Cost
          type: string
        provider:
          title: Provider
          type: string
        supports_functions:
          default: false
          example: false
          title: Supports Functions
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataCreatePayloadForInternal-properties-supports_functions
        supports_json:
          default: false
          example: false
          title: Supports Json
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataCreatePayloadForInternal-properties-supports_json
        supports_n:
          default: false
          example: false
          title: Supports N
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataCreatePayloadForInternal-properties-supports_n
        supports_penalties:
          default: false
          example: false
          title: Supports Penalties
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataCreatePayloadForInternal-properties-supports_penalties
        supports_stream:
          default: false
          example: false
          title: Supports Stream
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataCreatePayloadForInternal-properties-supports_stream
        until:
          title: Until
          type: string
        url:
          title: Url
          type: string
      title: ModelDataCreatePayloadForInternal
      type: object
    ModelDataUpdatePayloadForInternal:
      properties:
        description:
          title: Description
          type: string
        app_id:
          format: uuid
          title: App Id
          type: string
        at:
          title: At
          type: string
        base_cost:
          default: "0"
          example: "0"
          title: Base Cost
          type: string
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ModelDataUpdatePayloadForInternal-properties-base_cost
        completion_token_cost:
          title: Completion Token Cost
          type: string
        context_window:
          title: Context Window
          type: integer
        default_active:
          title: Default Active
          type: boolean
        is_public:
          title: Is Public
          type: boolean
        model:
          title: Model
          type: string
        org_id:
          format: uuid
          title: Org Id
          type: string
        owner:
          title: Owner
          type: string
        prompt_token_cost:
          title: Prompt Token Cost
          type: string
        provider:
          title: Provider
          type: string
        until:
          title: Until
          type: string
        url:
          title: Url
          type: string
      title: ModelDataUpdatePayloadForInternal
      type: object
    ModelParts:
      example:
        owner: owner
        at: at
        provider: provider
        namespace: namespace
        model: model
      properties:
        at:
          description: Extra model settings inferred from namespace
          title: At
          type: string
        model:
          description: The name of the model. Can belong to many providers
          title: Model
          type: string
        namespace:
          description: The fully qualified (namespaced) model name
          title: Namespace
          type: string
        owner:
          description: "The owner of the model. Sometimes, for a provider/model combination,\
            \ many instances exist, trained on different data"
          title: Owner
          type: string
        provider:
          description: The provider for the model.
          title: Provider
          type: string
      required:
      - model
      - namespace
      title: ModelParts
      type: object
    Org:
      properties:
        added_on:
          format: date-time
          title: Added On
          type: string
        address_1:
          default: ""
          example: ""
          title: Address 1
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-address_1
        address_2:
          default: ""
          example: ""
          title: Address 2
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-address_2
        address_city:
          default: ""
          example: ""
          title: Address City
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-address_city
        address_country:
          default: ""
          example: ""
          title: Address Country
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-address_country
        address_state:
          default: ""
          example: ""
          title: Address State
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-address_state
        address_zip:
          default: ""
          example: ""
          title: Address Zip
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-address_zip
        billing_email:
          default: ""
          description: Billing email
          example: ""
          title: Billing Email
          type: string
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-billing_email
        credit_balance:
          default: 0
          description: The balance in this Org's account
          example: 0
          title: Credit Balance
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-credit_balance
        currency:
          default: USD
          description: The currency for this organization
          enum:
          - USD
          example: USD
          title: Currency
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-currency
        free_balance:
          default: 0
          description: "If this is > 0, we will deduct the balance from here instead\
            \ of the credit_balance. Add credits to this Org by updating this column"
          example: 0
          title: Free Balance
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-free_balance
        hubspot_id:
          title: Hubspot Id
          type: string
        id:
          format: uuid
          title: Id
          type: string
        is_active:
          default: true
          example: true
          title: Is Active
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-is_active
        is_personal:
          default: false
          example: false
          title: Is Personal
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-is_personal
        last_invoice_date:
          description: "We track the expenses with `pending_expense`, but when we\
            \ charge, we add up all the requests between `last_invoice_date` and now."
          format: date-time
          title: Last Invoice Date
          type: string
        loki_endpoint:
          title: Loki Endpoint
          type: string
        loki_id:
          title: Loki Id
          type: string
        loki_token:
          title: Loki Token
          type: string
        modified_on:
          format: date-time
          title: Modified On
          type: string
        org_creator:
          title: Org Creator
          type: string
        org_display_name:
          title: Org Display Name
          type: string
        org_logo:
          title: Org Logo
          type: string
        org_name:
          title: Org Name
          type: string
        org_stripe_id:
          description: The Stripe's customer ID. `cus_xxxxxx`
          title: Org Stripe Id
          type: string
        pending_expense:
          default: 0
          description: "A reference value for how much money has a customer spent\
            \ since the last sync with Stripe. When we charge them, we don't use this\
            \ value, and instead add up all the requests' costs."
          example: 0
          title: Pending Expense
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-pending_expense
        period_end:
          description: The timestamp (in s) when the subscription ended or will end.
            The user will be billed at this point
          title: Period End
          type: integer
        period_start:
          description: "The timestamp (in s) when the subscription started or will\
            \ start. If it's not the first cycle, the user was billed at this point"
          title: Period Start
          type: integer
        prom_endpoint:
          title: Prom Endpoint
          type: string
        prom_id:
          title: Prom Id
          type: string
        prom_token:
          title: Prom Token
          type: string
        rate_limit:
          default: 200
          description: "The rate limit for this org, per minute"
          example: 200
          title: Rate Limit
          type: integer
          x-konfig-original-example: 200
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-rate_limit
        spending_limit_hard:
          default: 0
          example: 0
          title: Spending Limit Hard
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-spending_limit_hard
        spending_limit_soft:
          default: 0
          example: 0
          title: Spending Limit Soft
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Org-properties-spending_limit_soft
        subscription_cycle:
          description: The length of the Platform subscription cycle. Useful for upgrades
            and downgrades
          enum:
          - monthly
          - yearly
          title: Subscription Cycle
          type: string
        subscription_pause_reason:
          $ref: '#/components/schemas/SubscriptionPaused'
        subscription_price_id:
          description: PRICE ID (on Stripe). The user's current Subscription ID is
            created from this Price
          title: Subscription Price Id
          type: string
        subscription_tier:
          description: The subscription tier this user is in.
          enum:
          - _NONE_
          - STARTUP
          - GROWTH
          - SCALE
          - ENTERPRISE
          title: Subscription Tier
          type: string
        trial_end:
          description: The timestamp (in s) when the trial will end and the paid subscription
            will start. The user will be billed at this point
          title: Trial End
          type: integer
        usage:
          $ref: '#/components/schemas/OrgUsage'
      required:
      - id
      - last_invoice_date
      - org_creator
      - org_name
      - org_stripe_id
      title: Org
      type: object
      x-konfig-properties:
        subscription_pause_reason:
          title: Subscription Pause Reason
          description: "The reason the subscription was paused. If `null`, the subscription\
            \ is considered active"
        usage:
          title: Usage
          description: The Usage stats (view) for this org
    OrgCreateRequest:
      properties:
        org_display_name:
          title: Org Display Name
          type: string
        org_name:
          title: Org Name
          type: string
      required:
      - org_name
      title: OrgCreateRequest
      type: object
    OrgCreateResponse:
      properties:
        org_display_name:
          title: Org Display Name
          type: string
        org_id:
          format: uuid
          title: Org Id
          type: string
        org_name:
          title: Org Name
          type: string
      required:
      - org_id
      - org_name
      title: OrgCreateResponse
      type: object
    OrgIntegrationItem:
      properties:
        endpoint:
          description: Endpoint of the integration
          minLength: 1
          title: Endpoint
          type: string
        id:
          description: Id of the integration
          minLength: 1
          title: Id
          type: string
        token:
          description: Token of the integration
          minLength: 1
          title: Token
          type: string
      required:
      - endpoint
      - id
      - token
      title: OrgIntegrationItem
      type: object
    OrgIntegrationUpdate:
      properties:
        loki:
          $ref: '#/components/schemas/OrgIntegrationItem'
        prom:
          $ref: '#/components/schemas/OrgIntegrationItem'
      title: OrgIntegrationUpdate
      type: object
    OrgMember:
      properties:
        added_on:
          format: date-time
          title: Added On
          type: string
        auth0_id:
          title: Auth0 Id
          type: string
        id:
          format: uuid
          title: Id
          type: string
        is_active:
          title: Is Active
          type: boolean
        last_login:
          format: date-time
          title: Last Login
          type: string
        org_id:
          format: uuid
          title: Org Id
          type: string
        permissions:
          title: Permissions
          type: string
      required:
      - added_on
      - auth0_id
      - id
      - is_active
      - last_login
      - org_id
      - permissions
      title: OrgMember
      type: object
    OrgMemberInvite:
      properties:
        added_on:
          format: date-time
          title: Added On
          type: string
        auth0_id:
          title: Auth0 Id
          type: string
        email:
          title: Email
          type: string
        invite_status:
          enum:
          - accepted
          - declined
          - pending
          title: Invite Status
          type: string
        is_current_user:
          title: Is Current User
          type: boolean
        last_login:
          format: date-time
          title: Last Login
          type: string
        name:
          title: Name
          type: string
        permissions:
          title: Permissions
          type: string
        picture:
          title: Picture
          type: string
        token:
          title: Token
          type: string
      required:
      - added_on
      - email
      - invite_status
      - is_current_user
      - name
      - permissions
      title: OrgMemberInvite
      type: object
    OrgNameCheck:
      properties:
        org_name:
          title: Org Name
          type: string
      required:
      - org_name
      title: OrgNameCheck
      type: object
    OrgUpdate:
      properties:
        added_on:
          format: date-time
          title: Added On
          type: string
        address_1:
          title: Address 1
          type: string
        address_2:
          title: Address 2
          type: string
        address_city:
          title: Address City
          type: string
        address_country:
          title: Address Country
          type: string
        address_state:
          title: Address State
          type: string
        address_zip:
          title: Address Zip
          type: string
        billing_email:
          title: Billing Email
          type: string
        currency:
          default: USD
          enum:
          - USD
          example: USD
          title: Currency
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-OrgUpdate-properties-currency
        id:
          format: uuid
          title: Id
          type: string
        last_invoice_date:
          format: date-time
          title: Last Invoice Date
          type: string
        org_display_name:
          minLength: 4
          title: Org Display Name
          type: string
        org_logo:
          title: Org Logo
          type: string
        org_name:
          minLength: 4
          title: Org Name
          type: string
        pending_expense:
          title: Pending Expense
          type: number
      required:
      - address_1
      - address_2
      - address_city
      - address_country
      - address_state
      - address_zip
      - billing_email
      - id
      - org_display_name
      - org_logo
      - org_name
      title: OrgUpdate
      type: object
    OrgUsage:
      properties:
        completion_tokens:
          description: Number of tokens the response used
          title: Completion Tokens
          type: integer
        completion_tokens_cost:
          description: Cost (in $) of the response
          title: Completion Tokens Cost
          type: number
        completion_tokens_cost_savings:
          description: Cost (in $) saved in the completion costs comparison to the
            benchmark model
          title: Completion Tokens Cost Savings
          type: number
        num_apps:
          description: The number of active apps this Organization has
          title: Num Apps
          type: integer
        num_requests:
          description: The number of requests this Organization has performed in the
            current cycle
          title: Num Requests
          type: integer
        org_id:
          description: The Org's ID
          format: uuid
          title: Org Id
          type: string
        prompt_tokens:
          description: Number of tokens the request used
          title: Prompt Tokens
          type: integer
        prompt_tokens_cost:
          description: Cost (in $) of the prompt
          title: Prompt Tokens Cost
          type: number
        prompt_tokens_cost_savings:
          description: Cost (in $) saved in the prompt costs comparison to the benchmark
            model
          title: Prompt Tokens Cost Savings
          type: number
        total_tokens:
          description: Number of tokens of (request + response)
          title: Total Tokens
          type: integer
        total_tokens_cost:
          description: Cost (in $) of the (request + response)
          title: Total Tokens Cost
          type: number
        total_tokens_cost_savings:
          description: "Cost (in $) saved in total, in comparison to the benchmark\
            \ model"
          title: Total Tokens Cost Savings
          type: number
      required:
      - completion_tokens
      - completion_tokens_cost
      - completion_tokens_cost_savings
      - num_apps
      - num_requests
      - org_id
      - prompt_tokens
      - prompt_tokens_cost
      - prompt_tokens_cost_savings
      - total_tokens
      - total_tokens_cost
      - total_tokens_cost_savings
      title: OrgUsage
      type: object
    PaymentDetailsBalance:
      properties:
        balance:
          default: 0
          description: The balance in the account. Synced with Stripe periodically
          example: 0
          title: Balance
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsBalance-properties-balance
        billing_zip:
          description: The Zipcode of the address of the Organization
          title: Billing Zip
          type: string
        free_balance:
          default: 0
          description: "This represents balance that's either gifted or earned, and\
            \ non-redeemable for any cash."
          example: 0
          title: Free Balance
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsBalance-properties-free_balance
        last_sync:
          description: The datetime when the local balance (i.e. the value we keep
            track of) was synced with stripe (and the customer was billed)
          format: date-time
          title: Last Sync
          type: string
        pending_expense:
          default: 0
          description: |
            The usage your account had since it last synced with Stripe.
            Used for reference purposes, this is the amount we will charge Stripe for.

            This value does not only contain the sum of all the log tokens, but it might also contain other expenses, like
            uptime for custom models or base subscription prices, premium features, etc (all of this might come in the future)
          example: 0
          title: Pending Expense
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsBalance-properties-pending_expense
        spending_limit_hard:
          default: 0
          description: "When the balance crosses this value, a high-warning email\
            \ will be sent informing the customer that services will be disrupted\
            \ if the balance reaches 0"
          example: 0
          title: Spending Limit Hard
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsBalance-properties-spending_limit_hard
        spending_limit_soft:
          default: 0
          description: "When the balance crosses this value, a warning email will\
            \ be sent informing the customer"
          example: 0
          title: Spending Limit Soft
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsBalance-properties-spending_limit_soft
      required:
      - billing_zip
      - last_sync
      title: PaymentDetailsBalance
      type: object
    PaymentDetailsLimits:
      properties:
        spending_limit_hard:
          default: 0
          description: "When the balance crosses this value, a high-warning email\
            \ will be sent informing the customer that services will be disrupted\
            \ if the balance reaches 0"
          example: 0
          title: Spending Limit Hard
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsLimits-properties-spending_limit_hard
        spending_limit_soft:
          default: 0
          description: "When the balance crosses this value, a warning email will\
            \ be sent informing the customer"
          example: 0
          title: Spending Limit Soft
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PaymentDetailsLimits-properties-spending_limit_soft
      title: PaymentDetailsLimits
      type: object
    PlatformFeedbackBody:
      properties:
        source_details:
          title: Source Details
          type: string
      required:
      - source_details
      title: PlatformFeedbackBody
      type: object
    PlaygroundCompletionRequest:
      properties:
        app_id:
          description: "Optionally, send an App ID belonging to this user's org and\
            \ all the logs will be logged into that app. This usually means the user\
            \ is using the playground from the app's page itself."
          format: uuid
          title: App Id
          type: string
        max_tokens:
          default: 140
          description: The maximum number of tokens for the request
          example: 140
          minimum: 1
          title: Max Tokens
          type: integer
          x-konfig-original-example: 140
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlaygroundCompletionRequest-properties-max_tokens
        messages:
          default: []
          description: The list of messages (user/assistant/user/...) for the prompt.
            At least one message required
          example: []
          items:
            $ref: '#/components/schemas/RoleContentChatChoice'
          minItems: 1
          title: Messages
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlaygroundCompletionRequest-properties-messages
        model:
          description: "An optional model name. If specified, that model will be used"
          title: Model
          type: string
        temperature:
          default: 0.4
          description: The temperature of the request
          example: 0.4
          maximum: 1
          title: Temperature
          type: number
          x-konfig-original-example: 0.4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlaygroundCompletionRequest-properties-temperature
        weights:
          $ref: '#/components/schemas/LLMModelWeights'
      title: PlaygroundCompletionRequest
      type: object
      x-konfig-properties:
        weights:
          title: Weights
          description: '@required The weights specific to this request'
    Prompt:
      properties:
        title:
          maxLength: 60
          minLength: 1
          title: Title
          type: string
        description:
          maxLength: 200
          minLength: 1
          title: Description
          type: string
        added_on:
          format: date-time
          title: Added On
          type: string
        approved_on:
          format: date-time
          title: Approved On
          type: string
        decline_reason:
          description: Reason for decline
          title: Decline Reason
          type: string
        id:
          format: uuid
          title: Id
          type: string
        modified_on:
          format: date-time
          title: Modified On
          type: string
        org_id:
          format: uuid
          title: Org Id
          type: string
        prompt:
          pattern: "[\\s\\S]*{{prompt}}[\\s\\S]*"
          title: Prompt
          type: string
        published_on:
          format: date-time
          title: Published On
          type: string
        reviewed_on:
          format: date-time
          title: Reviewed On
          type: string
        tokens:
          title: Tokens
          type: integer
      required:
      - added_on
      - description
      - id
      - modified_on
      - org_id
      - prompt
      - title
      - tokens
      title: Prompt
      type: object
    PromptCalculateRequest:
      properties:
        text:
          title: Text
          type: string
      required:
      - text
      title: PromptCalculateRequest
      type: object
    PromptCalculateResponse:
      properties:
        tokens:
          title: Tokens
          type: integer
      required:
      - tokens
      title: PromptCalculateResponse
      type: object
    PromptCreateData:
      properties:
        title:
          maxLength: 60
          minLength: 1
          title: Title
          type: string
        description:
          maxLength: 200
          minLength: 1
          title: Description
          type: string
        prompt:
          pattern: "[\\s\\S]*{{prompt}}[\\s\\S]*"
          title: Prompt
          type: string
      required:
      - description
      - prompt
      - title
      title: PromptCreateData
      type: object
    PromptReviewRequest:
      properties:
        accept:
          default: "1"
          description: Whether Admin accepts(1) or declines(0) review
          enum:
          - "0"
          - "1"
          example: "1"
          title: Accept
          type: string
          x-konfig-original-example: "1"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PromptReviewRequest-properties-accept
        decline_reason:
          description: Reason for decline
          title: Decline Reason
          type: string
        id:
          format: uuid
          title: Id
          type: string
      required:
      - id
      title: PromptReviewRequest
      type: object
    PromptUpdate:
      properties:
        title:
          maxLength: 60
          minLength: 1
          title: Title
          type: string
        description:
          maxLength: 200
          minLength: 1
          title: Description
          type: string
        id:
          format: uuid
          title: Id
          type: string
        prompt:
          pattern: "[\\s\\S]*{{prompt}}[\\s\\S]*"
          title: Prompt
          type: string
      required:
      - description
      - id
      - prompt
      - title
      title: PromptUpdate
      type: object
    PulzeCompletionRequest:
      example:
        headers:
          key: headers
        logit_bias: "{}"
        max_tokens: 1
        presence_penalty: 0
        "false": 1
        policies:
          max_same_model_retries: 1
          max_cost: 0.02
          privacy_level: 1
          optimize_internal_requests: 0
          max_switch_model_retries: 1
          prompt_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        suffix: ""
        weights:
          cost: 0.4
          latency: 0.4
          quality: 0.4
        tools:
        - function:
            name: name
            description: description
            parameters:
              type: object
              properties:
                key: "{}"
              required:
              - required
              - required
          type: function
        - function:
            name: name
            description: description
            parameters:
              type: object
              properties:
                key: "{}"
              required:
              - required
              - required
          type: function
        labels:
          key: labels
        logprobs: 3
        top_p: 1
        frequency_penalty: 0
        best_of: 1
        stop: ""
        provider: ""
        stream: false
        temperature: 1
        messages: []
        tool_choice: ""
        model: pulze
        context_window: 0
        prompt: ""
      properties:
        best_of:
          default: 1
          description: "The number of responses to _generate_. Out of those, it will\
            \ return the best `n`."
          example: 1
          title: Best Of
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PulzeCompletionRequest-properties-best_of
        context_window:
          description: The maximum context size (tokens) for the provided model
          title: Context Window
          type: integer
        "false":
          default: 1
          description: |
            How many completions to generate for each prompt.
            @default 1
          example: 1
          minimum: 1
          title: "false"
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PulzeCompletionRequest-properties-false
        frequency_penalty:
          default: 0
          description: |
            https://platform.openai.com/docs/api-reference/completions/create#completions/create-frequency_penalty
            Increase the model's likelihood to not repeat tokens/words
          example: 0
          maximum: 2
          title: Frequency Penalty
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PulzeCompletionRequest-properties-frequency_penalty
        headers:
          additionalProperties:
            type: string
          description: Headers sent alongside the request -- stored as part of the
            payload
          title: Headers
          type: object
        labels:
          additionalProperties:
            type: string
          description: "The labels sent alongside the request as a JSON-encoded Dict[str,\
            \ str] inside of the header \"pulze-labels\"."
          title: Labels
          type: object
        logit_bias:
          description: |
[...]
